# Copyright (C) Pipin Fitriadi - All Rights Reserved

# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Pipin Fitriadi <pipinfitriadi@gmail.com>, 17 July 2024

node_modules/

# Output
.output
.vercel
.svelte-kit/
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# PlayWright
test-results/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
