# Copyright (C) Pipin Fitriadi - All Rights Reserved

# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Pipin Fitriadi <pipinfitriadi@gmail.com>, 28 June 2024

name: Github Page
on:
    push:
        branches: [main]
    workflow_dispatch:
jobs:
    build:
        name: Build Website
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
            - name: Install Dependencies
              run: npm ci
            - name: Linter Test
              run: npm run lint
            - name: Install Playwright browser
              run: npx playwright install
            - name: Unit and Integration Test
              run: npm run test
            - name: Build
              env:
                  BASE_PATH: '/${{ github.event.repository.name }}'
              run: npm run build
            - name: Create CNAME
              run: cp CNAME build/CNAME
            - name: Upload Artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                  path: 'build/'
    deploy:
        name: Deploy Website
        needs: build
        runs-on: ubuntu-latest
        permissions:
            pages: write
            id-token: write
        concurrency:
            group: pages
            cancel-in-progress: false
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
